# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Arithmetics
- Popular libraries for data science
- Some data science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. scikit-learn
3. pyplotlib
4. numpy

| Data Science Tools |
| ------------------ |
| RStudio |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Atanas